_local_files
Windex/.cproject
Windex/.mxproject
Windex/.project
Windex/.settings/com.st.stm32cube.ide.mcu.sfrview.prefs
Windex/.settings/language.settings.xml
Windex/.settings/org.eclipse.core.resources.prefs
Windex/.settings/stm32cubeide.project.prefs
// Windex/Core/Inc/main.h
Windex/Core/Inc/stm32f4xx_hal_conf.h
Windex/Core/Inc/stm32f4xx_it.h
// Windex/Core/Inc/windex.h
// Windex/Core/Src/main.c
Windex/Core/Src/stm32f4xx_hal_msp.c
Windex/Core/Src/stm32f4xx_it.c
Windex/Core/Src/syscalls.c
Windex/Core/Src/sysmem.c
Windex/Core/Src/system_stm32f4xx.c
// Windex/Core/Src/windex.c
Windex/Core/Startup/startup_stm32f411retx.s
Windex/Debug/Core/Src/main.cyclo
Windex/Debug/Core/Src/main.d
Windex/Debug/Core/Src/main.o
Windex/Debug/Core/Src/main.su
Windex/Debug/Core/Src/stm32f4xx_hal_msp.cyclo
Windex/Debug/Core/Src/stm32f4xx_hal_msp.d
Windex/Debug/Core/Src/stm32f4xx_hal_msp.o
Windex/Debug/Core/Src/stm32f4xx_hal_msp.su
Windex/Debug/Core/Src/stm32f4xx_it.cyclo
Windex/Debug/Core/Src/stm32f4xx_it.d
Windex/Debug/Core/Src/stm32f4xx_it.o
Windex/Debug/Core/Src/stm32f4xx_it.su
Windex/Debug/Core/Src/subdir.mk
Windex/Debug/Core/Src/syscalls.cyclo
Windex/Debug/Core/Src/syscalls.d
Windex/Debug/Core/Src/syscalls.o
Windex/Debug/Core/Src/syscalls.su
Windex/Debug/Core/Src/sysmem.cyclo
Windex/Debug/Core/Src/sysmem.d
Windex/Debug/Core/Src/sysmem.o
Windex/Debug/Core/Src/sysmem.su
Windex/Debug/Core/Src/system_stm32f4xx.cyclo
Windex/Debug/Core/Src/system_stm32f4xx.d
Windex/Debug/Core/Src/system_stm32f4xx.o
Windex/Debug/Core/Src/system_stm32f4xx.su
Windex/Debug/Core/Src/windex.cyclo
Windex/Debug/Core/Src/windex.d
Windex/Debug/Core/Src/windex.o
Windex/Debug/Core/Src/windex.su
Windex/Debug/Core/Startup/startup_stm32f411retx.d
Windex/Debug/Core/Startup/startup_stm32f411retx.o
Windex/Debug/Core/Startup/subdir.mk
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.cyclo
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.d
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.o
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.su
Windex/Debug/Drivers/STM32F4xx_HAL_Driver/Src/subdir.mk
Windex/Debug/makefile
Windex/Debug/objects.list
Windex/Debug/objects.mk
Windex/Debug/sources.mk
Windex/Debug/Windex.elf
Windex/Debug/Windex.list
Windex/Debug/Windex.map
Windex/Drivers/CMSIS/Device/ST/STM32F4xx/Include/stm32f411xe.h
Windex/Drivers/CMSIS/Device/ST/STM32F4xx/Include/stm32f4xx.h
Windex/Drivers/CMSIS/Device/ST/STM32F4xx/Include/system_stm32f4xx.h
Windex/Drivers/CMSIS/Device/ST/STM32F4xx/LICENSE.txt
Windex/Drivers/CMSIS/Include/cachel1_armv7.h
Windex/Drivers/CMSIS/Include/cmsis_armcc.h
Windex/Drivers/CMSIS/Include/cmsis_armclang.h
Windex/Drivers/CMSIS/Include/cmsis_armclang_ltm.h
Windex/Drivers/CMSIS/Include/cmsis_compiler.h
Windex/Drivers/CMSIS/Include/cmsis_gcc.h
Windex/Drivers/CMSIS/Include/cmsis_iccarm.h
Windex/Drivers/CMSIS/Include/cmsis_version.h
Windex/Drivers/CMSIS/Include/core_armv81mml.h
Windex/Drivers/CMSIS/Include/core_armv8mbl.h
Windex/Drivers/CMSIS/Include/core_armv8mml.h
Windex/Drivers/CMSIS/Include/core_cm0.h
Windex/Drivers/CMSIS/Include/core_cm0plus.h
Windex/Drivers/CMSIS/Include/core_cm1.h
Windex/Drivers/CMSIS/Include/core_cm23.h
Windex/Drivers/CMSIS/Include/core_cm3.h
Windex/Drivers/CMSIS/Include/core_cm33.h
Windex/Drivers/CMSIS/Include/core_cm35p.h
Windex/Drivers/CMSIS/Include/core_cm4.h
Windex/Drivers/CMSIS/Include/core_cm55.h
Windex/Drivers/CMSIS/Include/core_cm7.h
Windex/Drivers/CMSIS/Include/core_cm85.h
Windex/Drivers/CMSIS/Include/core_sc000.h
Windex/Drivers/CMSIS/Include/core_sc300.h
Windex/Drivers/CMSIS/Include/core_starmc1.h
Windex/Drivers/CMSIS/Include/mpu_armv7.h
Windex/Drivers/CMSIS/Include/mpu_armv8.h
Windex/Drivers/CMSIS/Include/pac_armv81.h
Windex/Drivers/CMSIS/Include/pmu_armv8.h
Windex/Drivers/CMSIS/Include/tz_context.h
Windex/Drivers/CMSIS/LICENSE.txt
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/Legacy/stm32_hal_legacy.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_cortex.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_def.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_dma.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_dma_ex.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_exti.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_flash.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_flash_ex.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_flash_ramfunc.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_gpio.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_gpio_ex.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_pwr.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_pwr_ex.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_rcc.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_rcc_ex.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_tim.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_tim_ex.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_uart.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_bus.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_cortex.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_dma.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_exti.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_gpio.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_pwr.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_rcc.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_system.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_usart.h
Windex/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_utils.h
Windex/Drivers/STM32F4xx_HAL_Driver/LICENSE.txt
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_cortex.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_dma_ex.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_exti.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ex.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_flash_ramfunc.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_gpio.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_pwr_ex.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_rcc_ex.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_tim_ex.c
Windex/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.c
Windex/STM32F411RETX_FLASH.ld
Windex/STM32F411RETX_RAM.ld
Windex/Windex Debug.launch
Windex/Windex.ioc
